.footer {
    background-color: $attention-background;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}



.address__item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.address__link {
    transition: $color-transition;

    &:hover,
    &:focus {
    color: $attention-color;
}
}

.address__link--light {
    color: $basic-background;
}



.footer__title {
    display: block;
    color: $basic-background;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    margin-bottom: 20px;
}

.footer__active {
    padding-top: 12px;
    display: flex; 
}

.footer__network {
    margin-right: 93px;
}

.mail__form {
    display: flex;
}

.mail__input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    outline: none;
   
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: $basic-background;
    background-color: transparent;

    &::placeholder {
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}



