.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;

    color: $logo-color;

    
}

.logo__web {
    color: $attention-color;
}


.logo--darktheme {
    color: $basic-background;
    margin-right: 0;
    margin-bottom: 20px;
    display: block;
}